.clockModule {
    font-family: "monospace", monospace;
    font-weight: normal;
    font-size: 92px;
    letter-spacing: -5px;
    line-height: 0.9;
    color: white;
    text-align: center;
    vertical-align: middle;
    position: relative;
    top: 35%;
}

.weatherModule {
    font-family: "monospace", monospace;
    font-weight: normal;
    font-size: 30px;
    color: white;
    text-align: center;
    vertical-align: middle;
    position: relative;
    top: 50%;
}

.weatherModule.temp {
    display: flex;
}
.weatherModule.temp.display {
    padding-left: 45%;
}

.weatherModule.dateTime.display {
    font-size: 17px;
    color: grey;
}

.weatherModule.desc {
    padding-top: 35%;
}
.weatherModule.day.display {
    font-size: 17px;
}
.weatherModule.alert.display {
    font-size: 17px;
}
.weatherModule.humidity.display {
    font-size: 17px;
    padding-bottom: 7%;
}

.grid {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        ". . ."
        ". . ."
        ". . .";
    width: 99vh;
    height: 99vw;
    transform-origin: top left;
    transform: rotate(-90deg) translateX(-100%);
} 

body {
    width: 98vw;
    height: 98vh;
}