.clockModule {
    font-family: "monospace", monospace; 
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-align: center;
    vertical-align: middle;
    position: relative;
    top: 50%;
}

.weatherModule {
    font-family: "monospace", monospace;
    font-weight: normal;
    font-size: 15px;
    color: white;
    text-align: center;
}

.grid {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        ". . ."
        ". . ."
        ". . .";
    width: 100%;
    height: 100%;
    transform-origin: top left;
    transform: rotate(-90deg) translateX(-100%);
} 

body {
    width: 98vw;
    height: 98vh;
}